.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - (100px));
}

form{
    min-width: 340px;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 1px 1px #888888;
    border-radius: 5px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group .error{
    color: red;
}

.form-group label{
    margin-bottom: 5px;
}

.form-group textarea {
    min-height: 100px;
    max-height: 100px;
    max-width: 320px;
    min-width: 320px;
    padding: 5px;
    border-radius: 3px;
}

.form-group input{
    padding: 5px;
}

.form-group button{
    padding: 5px;
    background-color: green;
    min-width: 140px;
    padding: 10px;
    margin: 0px auto;
    border: none;
    border-radius: 3px;
    opacity: .8;
}

.form-group button:hover{
    opacity: 1;
    cursor: pointer;
}

form h1{
    display: block;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 25px;
}

.form-group .btn-back{
    color: white;
    background-color: #888888;
    min-width: 100px;
}